/* .img {
    position: relative;
    box-shadow: 10px 8px 10px 5px orange;
    padding: 10px;
    margin-left: 30px;
    transform-style: preserve-3d;
    transform: translate3d(10px, 8px, -1px);
    animation: 3s ease-in 1s 1 reverse both running slidein;
}

.img::before {
    content: "";
    position: absolute;
    inset: -5px;
    transform: translate3d(10px, 8px, -1px);
    z-index: -1;
    background: rgb(88, 88, 152);
    filter: blur(10px);
}

.img::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: inherit;
    border: inherit;
    box-shadow: inherit;
} */

.anim {
    opacity: 0;
}  